* {
	margin:0;
	padding:0;
	border:0;
	position:relative;
	outline:none;
}

body {
	background:#cdc2b5;
	font-family:"Lato",sans-serif;
	font-size:18px;
	line-height:1.5em;
	color:#222;
}

h1 {
	font-size:30px;
	margin:0 0 40px 0;
	color:#0054a4;
}

h2 {
	font-size:22px;
	margin:50px 0 20px 0;
}

ul {
	list-style-type:none;
}

label {
	margin:0 0 10px 0;
	color:#444;
	font-size:14px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
select,
textarea,
button {
	font-family:"Lato",sans-serif;
	font-size:14px;
	background:#fff;
	border-bottom:solid 3px #ddd;
	padding:7px;
	display:block;
	margin:0 0 20px 0;
	width:100%;
	border-radius:3px;
}

textarea {
	min-height:50px;
	max-width:100%;
	font-family:"Lato",sans-serif;
}

select {
	width:auto;
	display:inline-block;
	margin:0 5px;
}

input[type="number"] {
	display:inline-block;
	width:40px;
}

input[type="submit"],
button.copy {
	background:#0054a4;
	color:#fff;
	width:auto;
	cursor:pointer;
}

button.copy {
	background:#777;
}

input[type="submit"]:hover {
	background:#01498d;
}

button.copy:hover {
	background:#555;
}

input[type="submit"]:active {
	background:#003f7a;
}

button.copy:active {
	background:#444;
}

input[type="radio"] {
	margin:0 0 0 10px;
}

/* Header */
header {
	background:#0054a4;
	padding:50px;
}

header h1 {
	float:right;
	color:#fff;
	font-size:36px;
	font-weight:normal;
	margin:28px 0;
}

/* Navigation */
nav {
	background:#f2f2f2;
	padding:20px 50px;
}

nav ul li {
	display:inline-block;
}

nav ul li a {
	text-decoration:none;
	display:inline-block;
	background:#ddd;
	padding:10px;
	color:#222;
	border-radius:3px;
}

nav ul li a:hover {
	background:#ccc;
}

nav ul li a:active {
	background:#bbb;
}

nav ul li a.selected {
	background:#0054a4;
	color:#fff;
}

/* Content */
section {
	background:#f2f2f2;
	padding:20px 50px;
}

.panel {
	display:none;
}

.panel:first-of-type {
	display:block;
}

.questions .question {
	margin:0 0 20px 0;
}

.questions .question h3 {
	background:#ddd;
	padding:5px 10px;
	border:solid 1px #ccc;
	border-radius:3px;
	color:#444;
	text-decoration:none;
	display:block;
	font-size:14px;
	cursor:pointer;
}

.questions .question h3:hover {
	background:#dadada;
}

.questions .question h3 i.fa {
	float:right;
	top:7px;
	margin:0 0 0 10px;
}

.questions .question.open h3 i.fa:before {
    content:"\f0d8";
}

.questions .question ul,
.questions .question h4 {
	display:none;
}

.questions .question.open ul,
.questions .question.open h4 {
	display:block;
}

.questions .question.open h3 {
	border-radius:3px 3px 0 0;
}

.questions .question.open h4 {
	font-size:13px;
	background:#fff;
	border:solid 1px #ccc;
	border-top:0;
	border-bottom:0;
	padding:10px 0 0 20px;
}


.questions .question.open > ul {
	border:solid 1px #ccc;
	border-top:0;
	background:#fff;
	border-radius:0 0 3px 3px;
}

.questions .question > ul li {
	font-size:12px;
	padding:10px 25px;
}

.questions .question > ul li:hover {
	background:#eee;
}

.questions .question .range {
	margin:20px 20px 5px 20px;
	width:200px;
	display:none;
}

.questions .question .selected .range {
	display:block;
	max-width:400px;
}

.questions .question .rating {
	display:none;
	padding:10px 20px;
}

.questions .question .selected .rating {
	display:block;
}

.questions .question .rating a {
	color:#222;
	text-decoration:none;	
	margin:0 2px;
	font-size:14px;
	padding:5px 15px;
	background:#ddd;
	border-radius:3px;
	display:inline-block;
}

.questions .question .rating a:hover {
	background:#ccc;
}

.questions .question .rating a:active {
	background:#bbb;
}

.questions .question .rating a.on {
	color:#fff;
	background:#0054a4;
	cursor:default;
}

.questions .question .rating a i.fa {
	font-size:11px;
}

.questions .question .rating .rating-panel {
	display:none;
}

.questions .question .rating .rating-panel.active {
	display:inline-block;
}

.questions .question .rating .rating-panel input[type="number"] {
	margin:0 5px 20px 5px;
}

.questions .question .rating .score {
	margin:20px 0 0 0;
}

.questions .question .rating .prompts .verbal {
	margin:0 20px 20px 5px;
}

.questions .question .rating .prompts .physical {
	margin:0 0 20px 5px;
}

.questions .question .circle {
	width:24px;
	height:24px;
	border:solid 2px #000;
	border-radius:24px;
	display:block;
	position:absolute;
	left:155px;
	top:10px;
}

.questions .question .range span {
	font-size:13px;
	display:block;
	margin:5px 0 0 0;
	text-align:center;
	font-weight:bold;
}

.questions .question input[type="text"] {
	display:inline-block;
	width:auto;
	min-width:400px;
	margin:0 0 0 5px;
}

input[type=range] {
	-webkit-appearance:none;
	width:100%;
	margin:0;
}
input[type=range]::-webkit-slider-runnable-track {
	width:100%;
	height:1px;
	cursor:pointer;
	box-shadow:0;
	background:#777;
	border-radius:0px;
	border:0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow:0;
  border:0;
  height:40px;
  width:40px;
  border-radius:40px;
  background:#0054a4;
  cursor:pointer;
  -webkit-appearance:none;
  margin-top:-20px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:#777;
}
input[type=range]::-moz-range-track {
  width:100%;
  height:1px;
  cursor:pointer;
  box-shadow:0;
  background:#777;
  border-radius:0px;
  border:0;
}
input[type=range]::-moz-range-thumb {
  box-shadow:0;
  border:0;
  height:40px;
  width:40px;
  border-radius:40px;
  background:#0054a4;
  cursor:pointer;
}
input[type=range]::-ms-track {
  width:100%;
  height:1px;
  cursor:pointer;
  background:transparent;
  border-color:transparent;
  color:transparent;
}
input[type=range]::-ms-fill-lower {
  background:0;
  border:0;
  border-radius:0px;
  box-shadow:0;
}
input[type=range]::-ms-fill-upper {
  background:#777;
  border:0;
  border-radius:0px;
  box-shadow:0;
}
input[type=range]::-ms-thumb {
  box-shadow:0;
  border:0;
  height:40px;
  width:40px;
  border-radius:40px;
  background:#0054a4;
  cursor:pointer;
  height:1px;
}
input[type=range]:focus::-ms-fill-lower {
  background:#777;
}
input[type=range]:focus::-ms-fill-upper {
  background:#777;
}

.review {
	border-top:solid 30px #444;
	padding:20px 50px 75px 50px;
}

.review textarea {
	resize:vertical;
	min-height:200px;
	padding:10px;
}

.review button.copy {
	font-size:12px;
	position:absolute;
	top:80px;
	right:40px;
	padding:5px 10px;
}

.review .message {
	position:absolute;
	top:80px;
	right:140px;
	font-weight:bold;
	font-size:16px;
	opacity:0;
	color:#1a942b;
}

.review .message.active {
	animation:zoom 3s;
}

.review a {
	background:#0054a4;
	color:#fff;
	width:auto;
	cursor:pointer;
	text-decoration:none;
	margin:0 0 40px 0;
	padding:10px;
	border-radius:3px;
}

.review a:hover {
	background:#01498d;
}

.review a:active {
	background:#003f7a;
}

.review a i.fa {
	margin:0 5px 0 0;
}

/* Footer */
footer {
	padding:20px 50px;
	border-top:solid 2px #c0b6a9;
}

footer p {
	font-size:14px;
}

/* Animations */
@keyframes zoom {
	0% {
		opacity:0;
		transform:scale3d(0, 0, 1);
	}
	10% {
		opacity:1;
		transform:scale3d(1.05, 1.05, 1);
	}
	15% {
		opacity:1;
		transform:scale3d(1, 1, 1);
	}
	85% {
		opacity:1;
		transform:scale3d(1, 1, 1);
	}
	90% {
		opacity:1;
		transform:scale3d(1.05, 1.05, 1);
	}
	100% {
		opacity:0;
		transform:scale3d(0, 0, 1);
	}
}

/* Mobile Responsiveness */
@media screen and (max-width: 800px) {
	header {
		padding:25px 20px;
		text-align:center;
	}

	header a img {
		max-width:200px;
	}

	header h1 {
		float:none;
		text-align:center;
		font-size:32px;
		line-height:36px;
		margin:20px 0 0 0;
	}

	nav {
		padding:20px;
	}

	.panel {
		padding:20px;
	}

	.review {
		padding:20px 20px 75px 20px;
	}

	footer {
		padding:20px;
	}
}